VITE_SUPABASE_URL=https://grwktwsicmiqssemvcah.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdyd2t0d3NpY21pcXNzZW12Y2FoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcxNjY5NzMsImV4cCI6MjA3Mjc0Mjk3M30.EKmD6hWhX-Hdq2isUp3Yzmizt7sqJSN6mPtF8JY49ho